.gradle
build/
out/
bin/
.gradle/

gradle/
gradlew
gradlew.bat

.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

.DS_Store
Thumbs.db

*.properties